.main_info {
  img {
    max-height: 266px;
  }
  .details {
    display: flex;
  }
  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    div {
      display: flex;
      height: 55%;
      justify-content: space-between;
    }
    .name_title,
    .email_phone {
      height: 65%;
      flex-direction: column;
    }
    .introduction {
      width: 95%;
      flex-direction: column;
      p {
        margin-top: 15px;
      }
    }
  }
}

.info {
  font-size: 18px;
}
.name {
  font-size: 24px;
  font-weight: 600;
}
i {
  margin-right: 5px;
}

@media only screen and (min-width: 300px) and (max-width: 767px) {
  main {
    max-width: 350px;
  }
  .card {
    display: grid;
  }
  .container {
    padding: 8px;
  }
  .main_info {
    .info {
      font-size: 16px;
      height: auto;
      div {
        display: block;
      }
      .email_phone {
        margin: 8px 0;
      }
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    padding: 16px;
  }
  .main_info {
    .info {
      div {
        height: auto;
        display: block;
      }
      .email_phone {
        margin: 8px 0;
      }
      .introduction {
        width: auto;
        margin-top: 8px;
      }
    }
  }
}
