.main_info {
  img {
    max-height: 266px;
  }
  .details {
    display: flex;
  }
  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    div {
      display: flex;
      height: 55%;
      justify-content: space-between;
    }
    .name_title,
    .email_phone {
      height: 65%;
      flex-direction: column;
    }
    .introduction {
      width: 95%;
      flex-direction: column;
      p {
        margin-top: 15px;
      }
    }
  }
}

.info {
  font-size: 18px;
}
.name {
  font-size: 24px;
  font-weight: 600;
}
i {
  margin-right: 5px;
}
@media (max-width: 770px) {
  .main_info .info div {
    display: block;
    height: auto;
  }
  .main_info .info .introduction {
    width: auto;
    margin-top: 20px;
  }
}
@media (max-width: 430px) {
  .main_info img {
    margin: 0 auto;
  }
  .card {
    display: grid;
  }
}
@media (max-width: 380px) {
  .card {
    padding: 5px;
  }
  .container {
    padding: 8px;
  }
}
