@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  color: #4f4f4f;
  font-family: 'Montserrat';
  display: grid;
  place-items: center;
}
main {
  max-width: 1046px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 25px;
  /* width: 88%; */
}
main a,
main a:active {
  color: #4f4f4f;
  text-decoration: none;
}
main a:hover {
  color: #333333;
}
.title {
  color: #828282;
  font-weight: 500;
}
img {
  border-radius: 12px;
}
.container {
  padding: 25px;
}
.card {
  display: flex;
  border-radius: 12px;
  background-color: white;
  padding: 25px;
  margin-bottom: 25px;
  box-shadow: 0 8px 8px -6px rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.5s ease;
}
.card:hover {
  box-shadow: 0 8px 8px -6px rgba(0, 0, 0, 0.6);
}
@media (max-width: 1030px) {
  main {
    width: 88%;
    margin: 0 auto;
  }
}
.btn {
  cursor: pointer;
  color: white;
  background-color: #5c94e1;
  border-radius: 12px;
  padding: 13px 40px;
  margin-right: 15px;
  border: 1px solid #5c94e1;
  &:hover {
    background-color: white;
    color: #5c94e1;
    border: 1px solid #5c94e1;
  }
  &:nth-of-type(2) {
    background-color: white;
    color: #5c94e1;
    border: 1px solid #5c94e1;
  }
}
